.container{
    width: 800px;
    height: 250px;
}

.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

h1{
    width: 400px;
    height: 10px;
    text-align: left;
}

.button:hover {
    background-color: green;
}

header{
    width: 400px;
    height: 130px;
    text-align: left;
}

.etiquetas{
    width: 400px;
    height: 30px;
    text-align: left;
}

p{
    text-decoration: none;
}

h3{
    border: solid 1px;
    width: 600px;
    height: 0px;
    margin-top: -170px;
    margin-right: -200px;
}

.nombre_ride{
    width: 300px;
    height: 400px;
    text-align: left;
}

h2{
    margin-left: -250px;
    margin-top: -18px; 
}

.horario{
    width: 370px;
    height: 440px;
    text-align: left;
}

.dia{
    margin-left: 200px;
    margin-top: -10px; 
}

h4{
    text-align: right;
    margin-top: -86px; 
}

.Descripcion{
    width: 100px;
    height: 50px;
}

.end{
    margin-left: 210px;
    margin-top: -39px; 
}

footer{
    margin-top: -70px; 
    width: 350px;
    height: 50px;
    text-align: left;
}

.guardar{
    float: right;
    background-color: rgb(0, 202, 61);  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.cancelar{
    float: left;
    background-color: red;  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}