.button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    float: right;
  }

.Buscar{
    border: 1px solid;
    width: 800px;
    height: 100px;
    padding: 1%;
}


table{
     width: 40%;
     text-align: left;
     border-collapse: collapse;  
}

th, td{
    padding: 2px;
    border: solid 1px;
}

thead{
    background-color: darkgrey; 

}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: black;
    color: white;
}