.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

header{
    width: 420px;
    height: 140px;
    text-align: left;
}

h4{
    width: 150px;
    height: 50px;
    margin: 1px;
    text-align: left;
}

h1{
    width: 400px;
    height: 10px;
    text-align: left;
    margin-top: 10px;
}

.Dashboard{
    margin-left: 10px;
}

.nick{
    width: 400px;
    height: 0px;
    margin-right: -900px;
    margin-top: 5px;
}

.rides{
    text-align: left;
    margin-left: -100px;
    border: solid 1px;
}

.botones{
    margin: 1%;
}

.tabla{
    width: 500px;
    height: 210px;
    border: solid 1px;
    margin-right: -115px;
    margin-top: 10px;
}

.button:hover {
    background-color: gray;
}

table{
    width: 95%;
    text-align: left;
    border-collapse: collapse; 
    border: solid 1px; 

}

th, td{
   padding: 5px;
   border: solid 1px;
}

thead{
   background-color: darkgrey; 

}

tr:nth-child(even){
   background-color: #ddd;
}

tr:hover td{
   background-color: black;
   color: white;
}

.btn_Agregar{
    margin-left: 452px;
}

.container{
    width: 500px;
    height: 250px;
}

.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

h1{
    width: 400px;
    height: 10px;
    text-align: left;
}

.button:hover {
    background-color: green;
}

header{
    width: 400px;
    height: 130px;
    text-align: left;
}

.etiquetas{
    width: 400px;
    height: 30px;
    text-align: left;
}

p{
    text-decoration: none;
    margin-left: 143px;
    margin-top: -18px; 
}

h3{
    border: solid 1px;
    width: 600px;
    height: 0px;
    margin-top: -120px;
    margin-right: -200px;
}

.nombre_ride{
    width: 300px;
    height: 400px;
    text-align: left;
}

h2{
    margin-left: -250px;
    margin-top: -18px; 
}

.horario{
    width: 300px;
    height: 400px;
    text-align: left;
}

.dia{
    margin-left: 210px;
    margin-top: -10px; 
}

h4{
    text-align: right;
    margin-top: -82px; 
}

.Descripcion{
    width: 100px;
    height: 50px;
}

.end{
    margin-left: 210px;
    margin-top: -39px; 
}

footer{
    margin-top: -190px; 
    width: 350px;
    height: 50px;
    text-align: left;
}

.Editar{
    margin-top: 350px; 
}