.container{
    width: 400px;
    height: 250px;
}

.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

h1{
    width: 400px;
    height: 10px;
    text-align: left;
}

.button:hover {
    background-color: green;
}

header{
    width: 400px;
    height: 130px;
    text-align: left;
}

.etiquetas{
    width: 400px;
    height: 30px;
    text-align: left;
}

p{
    text-decoration: none;
    margin-left: 89px;
    margin-top: -20px; 
}

h3{
    border: solid 1px;
    width: 600px;
    height: 0px;
    margin-top: -120px;
    margin-right: -200px;
}

.nombre_ride{
    width: 300px;
    height: 50px;
    text-align: left;
}

.velocidad_promedio{
    width: 300px;
    height: 50px;
    text-align: left;
}

.Descripcion{
    width: 300px;
    height: 50px;
    text-align: left;
}

footer{
    margin-top: 130px; 
    margin-right: -100px;
    width: 400px;
    height: 50px;
    text-align: left; 
}

.cancelar{
    float: left;
    background-color: red;  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.guardar{
    float: right;
    background-color: rgb(0, 202, 61);  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}