header{
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

div{
  position: absolute;
  justify-content: space-between;
  right: -20px;
  left: 10px;
}

label{
  font-family: cursive;
  color: black;
}

input{
  font-family: cursive;
  width: 200px;
  cursor:pointer;
  display:block;
}

.register {
  background-color: rgb(140, 245, 140); 
  color: black;
  font-size: 30px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
} 