<link rel="stylesheet" href="boostrap/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="#">
           <img src="imagenes/Tico.PNG" width="150" height="80" alt="">
        </a>
        <li class="nav-item active">
          <a class="nav-link" href="infoRides.html">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddRides.html">Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="opciones.html">Configuracion</a>
        </li>
      </ul>
    </div>
  </nav>